
:root {
	color-scheme: dark light;
	font-family: system-ui, sans-serif;
	overflow-wrap: break-word;
	line-height: 1.5;
	-webkit-tap-highlight-color: transparent;

	scrollbar-color: #8886 transparent;

	--sqrt-2: sqrt(2);
}

@supports not (aspect-ratio: sqrt(2)) {
	:root {
		--sqrt-2: 1.414213562373;
	}
}

body {
	margin: 0;
	padding: .5rem;
}

header {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

img {
	display: block;
}

.info .details {
	border-radius: .5rem;
	background-color: #8881;
	background-clip: padding-box;
	border: 1px solid #8884;
}

.info .details > input[type=checkbox]#info-details {
	position: absolute;
	appearance: none;
	opacity: 0;
}

.info .details > .summary {
	display: flex;
	align-items: center;
	gap: .4em;
	padding: .4rem .6rem;
	cursor: pointer;
}

.info .details > input[type=checkbox]#info-details:focus-visible ~ .summary {
	outline: auto 1px;
}

.info .details > .summary h2 {
	font-size: 1rem;
	font-weight: 500;
	display: inline;
}

.info .details > .summary::before {
	content: "";
	transition: rotate .2s;
	border-inline-start: .7em solid currentColor;
	border-block: .4em solid transparent;
}

.info .details > input[type=checkbox]#info-details:checked ~ .summary::before {
	rotate: 100grad;
}

.info .details > .expansion {
	padding-inline: .6rem;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows .2s;
}

.info .details > .expansion > div {
	box-sizing: border-box;
	overflow: hidden;
	/* padding-block-end: .6rem; */
}

.info .details > .expansion > div > :is(h1, h2, h3) {
	margin-block-start: .7rem;
}

.info .details > .expansion > div > :last-child {
	margin-block-end: .6rem;
}

.info .details > input[type=checkbox]#info-details:checked ~ .expansion {
	grid-template-rows: 1fr;
}

table {
	margin-block-start: .6rem;
	border-spacing: 0;
	background-color: #8886;
}

table > thead::after {
	content: "";
	block-size: 1px;
	display: block;
}

table > * > tr {
	background-color: Canvas;
}

table > * > tr > td {
	background-clip: padding-box;
}

table > * > tr > td {
	padding: .4em .6em;
	background-color: #8883;
	vertical-align: top;
}

table > tbody > tr:nth-of-type(odd) > td {
	background-color: #8882;
}

table > * > tr > td:not(:last-of-type) {
	border-inline-end: 1px solid transparent;
}

table img.engine {
	aspect-ratio: 1 / 1;
	block-size: 2.5rem;
}

.features {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin-block-start: 1rem;
}

.features > li {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: .5rem;
	background-color: #8881;
	background-clip: padding-box;
	border: 1px solid #8884;
	border-radius: .5rem;
}

.features > li > ul {
	display: flex;
	gap: .5rem;
	flex-wrap: wrap;
}

.features > li > ul > li {
	padding: .5em .7em;
	border-radius: .4rem;
	background-color: #aaa2;
	background-clip: padding-box;
	border: 1px solid #aaa4;
	display: flex;
	row-gap: .5rem;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	word-break: break-word;
}

.features > li > ul > li a {
	color: inherit;
}

.features > li > ul > li a:not(:hover) {
	text-decoration: none;
}

.features > li > ul > li > .engines:not(:empty) {
	margin-inline-start: .6rem;
}

.engines {
	display: flex;
	flex-wrap: wrap;
	gap: .4rem;
}

.engines > .engine {
	inline-size: 1.5rem;
	aspect-ratio: 1;
	background-image: var(--image);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.engines > .engine.blink {
	--image: url("./assets/blink.svg");
}

.engines > .engine.webkit {
	--image: url("./assets/webkit.svg");
}

.engines > .engine.gecko {
	--image: url("./assets/gecko.svg");
}

.engines > .engine.experimental {
	--stripes-width: calc(2 * var(--sqrt-2) * (1rem / 16));
	--mask-image: repeating-linear-gradient(-45deg, #fff4 0 var(--stripes-width), #ffff var(--stripes-width) calc(var(--stripes-width) * 2));
	-webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
}

.engines > .engine.prefixed::after {
	content: "-x-";
	color: white;
	background-color: firebrick;
	padding-inline: .2em;
	inset-block-end: -.2em;
	inset-inline: 0;
	margin-inline: auto;
	inline-size: fit-content;
	border-radius: .3em;
	position: absolute;
	font-size: .6em;
}

/* .engines > .engine.limited-support::after {
	content: "⚠\FE0E";
	padding-inline: .1em;
	padding-block: .1em;
	inset-block-end: -.3em;
	inset-inline-end: -.4em;
	border-radius: .3em;
	position: absolute;
	font-weight: bold;
} */

.engines > .engine.limited-support {
	--mask-image: linear-gradient(to bottom, #ffff 0 50%, #fff4 50% 100%);
	-webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	padding-inline: .05em;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-block: 0;
}
